.user-dashboard{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background: #282a36;
}

.no-display{
    display: none;
}

#user-dashboard-nav{
    background: white;
    width: 20%;
    text-align: center;
    position: fixed;
}

#user-dashboard-nav #logo-section{
    padding: 20px;
    color: #727171;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

#user-dashboard-nav #logo-section #site-name{
    color: inherit;
}

.question-header{
    background: rgb(25, 110, 180);
    border-radius: 10px;
    font-weight: bolder;
    padding: 20px;
    width: 95%;
    text-align: left;
    position: relative;
    left: -50px;
}

.user-nav-profile {
    color: #282a36;
}

.user-nav-profile .profile-img{
    width: 40%;
    display: block;
    margin:  10px auto;
    border-radius: 50%;
}

.user-nav-profile button{
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}

.user-nav-profile button:hover{
    cursor: pointer;
    color: rgb(115, 115, 195);
    border-color: blue;
} 


#user-navigation-section{
    color: #3b3e50;
    margin-top: 20px;
    padding: 10px;
}

#user-navigation-section h4{
    text-align: left;
    padding-left: 10px;
}

#user-navigation-section a {
    display: block;
    text-align: center;
    color: inherit;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px 0px;
    margin-top: 5px;
    background: rgb(200, 200, 200);
    border-radius: 10px;
}

#user-navigation-section a:hover,
#user-navigation-section a:focus,
#user-navigation-section a.active{
    color: #3662a5;
    border-left: 4px solid  #3c73c5;
    font-weight: bolder;
    box-sizing: border-box;
}

#user-navigation-holder{
    position: fixed;
    overflow-y: scroll;
}

#user-dashboard-body{
    color: white;
    z-index: 2;
    background: inherit;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}

#user-dashboard-body  div,
#user-dashboard-body  h2{
    margin: 20px auto;
}

#user-dashboard-body h2{
    text-align: left;
    width: 100%;
}

.user-profile-details{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #2f3e47;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
}

.user-profile-details p{
    color: #61859c;
}

.user-profile-details p span{
    display: inline-block;
    margin-left: 15px;
    font-weight: normal;
}

.no-display{
    display: none;
}

.bitcoin-widget-holder{
    display: flex;
    justify-content: space-around;
}

.bitcoin-widget-holder iframe{
    width: 30%;
    height: 40vh;
}

.profile-change-form-holder{
    background: #2f3e47;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.profile-change-form-holder form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-change-form-holder input{
    border: 1px solid #506775;
    background: #384b57;
    width: 400px;
    padding: 15px;
    color: #2f3e47;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    transition: border .3s;
}

.profile-change-form-holder input:focus{
    border: 2px solid #506775;
}

.profile-change-form-holder input[type=submit]{
    width: 30%;
    border: none;
    background: rgb(100, 65, 133);
    font-size: inherit;
    font-weight: bold;
    color: white;
}

#package-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.plan-card{
    background: #2f3e47;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    min-width: 30%;
    max-width: 30%;
    margin-right: 20px;
}

.plan-card span{
    margin: 10px auto;
}

button.start{
    background: white;
    color: #2f3e47;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
}

button.start:hover{
    color: white;
    background: #3c4d58;
    cursor: pointer;
}

#deposit-section{
    width: 100%;
    background: #2f3e47;
    border-radius: 10px;
    padding: 20px;
}

.nav-top  button{
    display: none;
}


#faq-section{
    margin: auto;
    width: 80%;
}



@keyframes show{
    from{
        height: 0px;
        overflow: hidden;
        opacity: 0;
    }
    to{
        height: 250px;
        overflow: auto;
        opacity: 1;
    }
}

@keyframes hide{
    from{
        height: 250px;
        overflow: auto;
        opacity: 1;
    }
    
    to{
        height: 0px;
        overflow: hidden;
        opacity: 0;
    }
}



@media screen and (max-width: 1080px){
    .user-dashboard{
        flex-direction: column;
    }

    #user-dashboard-body{
        margin: 50px 0px 0px 0px;
        width: 100vw;
        padding: 0px;
    }

    /* navigation-responsiveness */
    
    #user-dashboard-nav{
        position: static;
        width: 100%;
        position: fixed;
        z-index: 200;
    }
    .user-nav-profile,
    #user-navigation-section{
        height: 0px;
        overflow: hidden;
    }
    
    #user-navigation-section a {
        text-align: center;
    }

    #user-dashboard-nav #logo-section{
        position: relative;
        top: 20px;
        padding: 0px;
    }

    .nav-top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-top button{
        position: relative;
        top: 20px;
        right: 20px;
        display: inline-block;
        border: none;
        background: inherit;
    }
    
    .nav-top button i{
        color: rgb(41, 41, 41);
        font-size: 38px;
    }

    .user-nav-profile img{
        max-width: 20%;
    }

    /* profile responsiveness */

    .profile-change-form-holder{
        padding: 20px 0px;
        align-items: center;
        flex-direction: column;
    }

    /* packages responsiveness */

    .plan-card{
        min-width: 40%;
        max-width: 40%;
    }
}


@media screen and (max-width: 760px){
    /* package section responsiveness */

    #user-dashboard-body h1:first-child{
        font-size: 1.5em;
        margin: 40px 0px 0px 20px;
    }

    .plan-card{
        min-width: 80%;
        max-width: 90%;
    }

    /* package end */

    /* user profile responsiveness */

    .bitcoin-widget-holder{
        display: flex;
        flex-direction: column;
    }
    
    .bitcoin-widget-holder iframe{
        width: 90%;
    }

    .profile-change-form-holder form div{
        width: 80%;
    }

    .profile-change-form-holder input{
        width: 80%;
    }

    .profile-change-form-holder input[type='submit']{
        width: 100%;
    }
}