*{
  box-sizing: border-box;
}
body{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url(./img/bitcoin-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

a{
  color: inherit;
  /* background: ; */
}

/* styles for the home page */

/* Header Styles */

#header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 40px 45px 25px 45px;
  border-bottom: 1px solid #212123;
}

#navigation {
  color: #a4a4a4;
  position: relative;
  top: 10px; 
}

.link-item {
  color: inherit;
  text-decoration: none;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
}

/* style for the layout of the layout */

#logo-section{
    display: flex;
    width: 20%;
    font-size: 1.3em
}

#site-name{
  font-weight: bold;
  color: white;
}

#logo-image{ 
  width: 50px
}

#site-name-holder{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#logo-sub{
  font-size: .6em;
  color: #a4a4a4;
  text-transform: capitalize
}


/* Home center-piece styles */
#center-piece{
  color: white;
  min-height: 400px;
  width: 30%;
  padding: 80px 40px;
  font-size: 1.5em
}

.intro-text{
  font-size: .75em; 
  color: #a4a4a4;
}

.center-piece-button{
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #efefef;
  margin-right: 15px;
  background: transparent;
  border: 2px solid #efefef;
  transition: color .2s, border-color .2s;
  margin-bottom: 50px;
}

.center-piece-button:hover{
  cursor: pointer;
  border-color: #f1c24b;
  color: #f1c24b;
}

/* services section style */
#service-section{
    background: #353535;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px;
}
.service-cards{
  min-width: 20%;
  max-width: 30%;
  min-height: 300px;
  margin: 10px 1.5%;
  background: #292929;
  /* background-image: url(./img/wallet.png); */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 15px;
}

#service-section .service-cards i{
  color: #f1c24b;
  font-size: 3em;
  font-weight: 100;
  display: block;
  margin: 25px auto 40px auto;
}

.service-cards h3,
.service-cards p{
  color: #b2b2b2;
  line-height: 5vh;
}

.service-cards h2{
  color: #ffffff;
  font-size: 1.7em;
  text-transform: capitalize;
  text-align: left;
  margin: 0px;
}

.service-cards sub{
  color: #f1c24b;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 105px auto 25px auto;
}

.service-cards h3{
  color: #ffffff;
  font-weight: 200;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* design for experts section */
#team-of-experts{
  color: white;
  background: #242424;
  padding: 20px;
}


.profile-head{
  padding: 80px 0px 20px 0px;
  text-align: center;
  font-weight: bold;
}

.profile-head sub{
  color: #e7ba40;
  text-transform: uppercase;
}

.profile-head h2{
  font-size: 2em;
  text-transform: capitalize;
  margin-top: 35px;
  font-weight: bolder;
}

.profile-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 45px;
}

.profile{
  max-width: 30%;
  text-align: left;
  font-weight: bold;
}

.profile-picture{
  width: 70%;
}

.title{
  color: #e7ba40;
  margin: 20px 0px;
  font-size: .8em;
}

.title,
.profile-name{
  padding-left: 10px;
}

/* about section styles  */

#about-section{
  background: url(./img/about-background.jpg);
  min-height: 300px;
  margin: 0px;
  margin-top: 0px;
  padding: 20px;
}

#about-holder{
  width: 70%;
  margin: 100px auto;
  text-align: center;
  background-color: #1b1b1b;
  padding: 50px;
  border-radius: 10px;
}

.about-body{
  text-align: left;
}

#about-section p,
#about-section sub{
  color: rgb(117, 117, 117);
  font-size: .8em;
  font-weight: 500;
}

#about-section h1{
  font-size: 2em;
  color: white;
}

#about-section h1,
#about-section h3,
#about-section sub{
  text-transform: uppercase;
}

#about-section h3,
#about-section span,
#about-section sub
{
  color: #e7ba40;
}

/* footer section styles */

footer{
  background: black;
  color: white;
}

.footer-top{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  color: #b2b2b2
}

#footer-nav{
  display: flex;
  flex-flow: column;
}

.footer-top:first-child{
  text-transform: capitalize;
  font-size: .8em;
}

#footer-nav span{
  padding: 5px;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: bold;
}

.footer-bottom{
  background-color: #1d1d1d;
  color: #a4a4a4;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
}